/node_modules
/public/hot
/public/storage
/public/exports
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/backup/backup-2022-05-08-12-42-14.sql
